[user]
	name = dondakeshimo
	email = went.went.takkun135@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFW9VK8nmF5TbVjrXZMWJey0v9+oS7qxHFyZlVvPEIen

[gpg]
	format = ssh

[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	hooksPath = ~/.config/git/hooks

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

[ghq]
	root = ~/src

[github]
	user = dondakeshimo

[ghq "CODECOMMIT-URL"]
	vsc = git

[commit]
	gpgsign = true

[merge]
	tool = vimdiff

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[pull]
	rebase = false
