[user]
    name = dondakeshimo
    email = went.went.takkun135@gmail.com

[core]
    excludesfile = /Users/taku/.gitignore_global

[commit]
    template = /Users/taku/.stCommitMsg

[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[alias]
    ci = commit -m
    co = checkout
    aci = "!git add -A && git commit -m"

[ghq]
    root = ~/Scripts/src

[github]
    user = dondakeshimo

[ghq "CODECOMMIT-URL"]
    vsc = git
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
