"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "f8595bdf-e907-4917-aefc-eb8c508388f9"
  kite:
    editorMetricsEnabled: "yes"
    showDocsNotificationOnStartup: false
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    style:
      theme: "solarized-dark"
    toggles:
      autoClose: true
      cursorBlink: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
