[
  {
    title: "Stage Cbot Frontend Customer"
    group: "React"
    paths: [
      "/Users/taku/Scripts/cbot-dev/stage-cbot-frontend-customer"
    ]
  }
  {
    title: "Cbot Api Customer"
    group: "React"
    paths: [
      "/Users/taku/Scripts/cbot-dev/cbot-api-customer"
    ]
  }
  {
    title: "Tf Obj Det"
    group: "footballpj"
    paths: [
      "/Users/taku/Scripts/FBPJ/tf_obj_det"
    ]
  }
  {
    title: "Dotfiles"
    group: "Taku"
    paths: [
      "/Users/taku/dotfiles"
    ]
  }
  {
    title: "Hatena Blog"
    group: "Taku"
    paths: [
      "/Users/taku/HatenaBlog"
    ]
  }
  {
    title: "TeX"
    group: "Taku"
    paths: [
      "/Users/taku/Documents/TeX"
    ]
  }
  {
    title: "Cbot Queue Worker"
    group: "Biary"
    paths: [
      "/Users/taku/Scripts/cbot-dev/cbot-queue-worker"
    ]
  }
  {
    title: "Shimo Study DL"
    group: "Taku"
    paths: [
      "/Users/taku/Scripts/Pythontraining/DeepLearning_Training/shimo_study"
    ]
  }
]
