"*":
  Hydrogen:
    outputAreaDefault: true
    startDir: "dirOfFile"
  "atom-beautify":
    general:
      _analyticsUserId: "2e3e5f1c-313e-49a8-b869-08cc3da1a3c9"
  "atom-clock":
    dateFormat: "MMMM Do, dddd, HH:mm"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "spell-check"
      "markdown-scroll-sync"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "an-old-hope-syntax"
    ]
  editor:
    fontFamily: "Ricty Diminished, Menlo, Consolas, DejaVu Sans Mono, monospace"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "38c0317c-6308-421d-98c0-3ed9cac1a40a"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  latex:
    engine: "uplatex"
    opener: "pdf-view"
  "linter-flake8":
    executablePath: "/Users/taku/.pyenv/versions/3.7.3/bin/flake8"
    ignoreErrorCodes: [
      "H238"
    ]
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
      numberEquations: true
    syncConfig:
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "pdf-view":
    fitToWidthOnOpen: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
